[2019-07-18 21:36] loganpowell opened #13 "path concatenation without `/` in Windows"
Hey there!

Got super excited when I found this, but I'm having some issues:

[code]

Might this be an OS issue? Which are you using?

[2019-07-19 04:02] jescalan commented on #13
Oh interesting - yes this was developed on a mac. If you run the linux shell on windows it should work without issue. Are there any more details in that error trace? I'd love to patch this still

[2019-07-19 12:42] loganpowell commented on #13
sure!
[code]

[2019-07-19 13:15] loganpowell commented on #13
I think the default `layoutsPath` isn't quite working... It seems to set the directory to `layouts` even if I change it to something else

[2019-07-19 14:08] jescalan commented on #13
This is really odd, I don't see any spot where it would make sense for this to happen in the source. Can you post the line that's causing it - basically the smallest possible reproduction assuming we have a minimal nextjs setup with this plugin added?

[2019-07-19 22:02] JMFURY commented on #13
@loganpowell We looked into the Windows path issues and have opened a pull request here: https://github.com/hashicorp/next-mdx-enhanced/pull/14

[2019-07-19 22:37] loganpowell commented on #13
You guys are awesome

[2019-07-19 22:37] #13 closed

[2019-07-25 14:24] loganpowell opened #16 "Error: `TypeError: Class constructor WithRouteWrapper cannot be invoked without 'new'`"
Hello again!

Loving the library and thank you again for the Windows fix. I hope I'm not being an air hog by creating another issue, but I hit another snag:

[code]

I'm trying to use the `withRouter` wrapper with my Layout component. Is there a better way?

[2019-07-25 14:29] Timer commented on #16
Sorry, but we really need a more detailed example.

[2019-07-25 14:29] loganpowell commented on #16
for the time being, in this case:

[code]
I'll just use: `FM.__resourcePath`

[2019-07-25 14:30] Timer commented on #16
@loganpowell Ooh! Sorry, totally clicked on this issue thinking it was the Next.js repository!

Don't mind me. 😄

[2019-07-25 14:30] loganpowell commented on #16
haha, no worries at all

[2019-07-25 14:48] jescalan commented on #16
Hi, absolutely not - we're very actively working on this one and want to make sure it works as expected. I'm not sure I understand exactly what your use case is here though - would be happy to jump on a call if you'd like to go through it, or if you have a minimal reproduction we can pull it down and narrow down what's going on.

[2019-07-25 15:24] loganpowell commented on #16
Thank you for your patience :)

I'm just trying to wrap a layout with `withRouter` from `next/router` and get the props provided thereby (e.g., `props.router.route`), but then I get this error when I try to do that with a layout used by `next-mdx-enhanced` via the `layouts:<this layout>` in the frontmatter.

I can try to reproduce a minimal example, but I'm under a deadline and just using the init

[2019-07-25 16:29] jescalan commented on #16
Got it, will look into this a bit. I think it's got something to do with the way mdx does layouts - I have been unable to get `getInitialProps` running on mdx layouts despite them apparently being top level. Because of this I'm not sure that the mdx layouts are being seen as `pages` components. I think the `__resourcePath` solution is a great one for now - this issue is definitely on my radar, whe

[2019-07-25 18:12] loganpowell commented on #16
Thank you again for the great library and help!

[2019-07-25 19:08] jescalan commented on #16
Going to rename and reopen this, because it is a thing we want to address soon, an active issue, and we will reference this issue and close once its been addressed 😀

[2019-08-02 07:27] ole-treichel opened #17 "Question: How to enable hot reloading of MDX-Files / Frontmatter imports"
Hey,

First of all thank you for this awesome plugin, it solves a lot of things I need for MDX-Documentation at one go.

I am using your next-mdx-enhanced with your ['babel-plugin-import-glob-array'](https://github.com/jescalan/babel-plugin-import-glob-array) to parse all frontmatter of mdx files and build the navigation. This works really well.
But it does not detect newly created files in the pa

[2019-08-02 17:17] jescalan commented on #17
Right now, restart the watcher.

This plugin is most useful in concert with [babel-import-glob-array](), which is cached by babel, but when you add a new file the babel cache doesn't update since it's watching the file contents, not the external filesystem. There are a few issues open for this that I am tracking, but at the moment there's no concrete solution.

Additionally, there is a ton of over

[2019-08-02 17:28] ole-treichel commented on #17
Wow, thank you for this super detailed explanation! I do understand a lot more now. Will try the mentioned parameter and see if how performance goes with. The plugin still is very awesome 👍

[2019-08-03 11:39] ole-treichel commented on #17
So I found this [webpack-plugin](https://www.npmjs.com/package/extra-watch-webpack-plugin) which lets you configure additional folders / files to be watched.

If I configure it within my next.config.js like this:

`
webpack: (config) => {
    config.plugins.push(
      new ExtraWatchPlugin({
        dirs: [
          path.join(config.context, 'pages')
        ]
      })
    )

    return config

[2019-08-10 11:11] connor-baer opened #18 "Plugin does not work with next-compose-plugins"
`next-mdx-enhanced` does not seem to play nice with [`next-compose-plugins`](https://github.com/cyrilwanner/next-compose-plugins). When the two plugins are used together, `next-mdx-enhanced` does not seem to have any effect:

1. `mdx` pages return a 404 error
2. When importing `mdx` frontmatter in other pages, Next fails to parse the file and complains about a missing loader.

## Steps to reproduc

[2019-08-10 12:16] connor-baer commented on #18
Alright, I played around a bit more, looked at the source code of different plugins and found a way to make it work.

**TL;DR**: Here's an example that works:

[code]

1. **Call `withMdxEnhanced` with the config.** `next-mdx-enhanced`'s API differs from most other Next plugins, in that it first accepts a config object and then returns a function that accepts the Next config object. Most other plug

[2019-08-10 12:17] #18 closed

[2019-08-11 21:17] jescalan commented on #18
We have purposefully adopted a different API from what `next-compose-plugins` supports, and I would eventually like to start a conversation about changing the way that `next-compose-plugins` expects for plugin APIs to work, because I am fairly convinced that the plugin pattern I endorse is objectively better, and it's also the pattern used by zeit and all "official" plugins.

It seems like you fig

[2019-08-12 03:20] yoongfook opened #19 "Supports .md files?"
The `next-mdx` plugin allows for matching `.md` files for compilation, but seems like its not supported here?

https://github.com/hashicorp/next-mdx-enhanced/blob/4413846d4d43665ae906b56f276f7e8b5db0ce5e/babelPlugin.js#L13-L15

Will it be an easy one to add? 😊

[2019-08-12 11:57] jescalan commented on #19
Yeah I'd welcome a pull request to make it configurable! Perhaps an option like `matchExtensions` - this would be a great first contribution.

My only request is that I'd like to keep only `.mdx` as the default, since the files are parsed using `mdx` and not a standard markdown parser. I feel like its best to keep things clear by default.

[2019-08-12 12:13] jescalan commented on #17
Oh nice, this is a really great discovery - I'd like to dig a bit deeper on why this works, since `pages` is already watched by default in nextjs. Will get back to this as soon as I can.

[2019-08-19 23:52] jescalan commented on #16
Ok I am blocked by this on one of our projects now, so will have a resolution soon

[2019-08-20 06:36] loganpowell commented on #16
I'm sorry to hear that, but great!

[2019-08-21 16:55] #19 closed

[2019-08-21 17:16] jescalan commented on #16
Ok small update here - I have a workaround for this that's quite effective, but it's not a smooth as I'd like the ultimate fix to be. This is already an open issue in mdx though, so it looks like its being worked on.

At some point I'd like to put out a smoother fix that basically requires zero config changes at all, but for now this interim solution works quite well so I want to post here for any

[2019-09-24 18:07] jescalan commented on #13
We are now running our test suite in CI on both linux and windows containers to prevent any future regression ✨

[2019-10-01 10:11] Jule- opened #25 "HRM freeze chrome"
Hi,

First of all, thank you for this great plugin that simplifies a lot the configuration process for MDX and adds pretty neat feature like layout and frontMatter... :slightly_smiling_face:

The only drawback I see until now is performance issues with Hot Reload Module in Chrome.
When I modify layout, mdx, style or even standard js page, tab CPU is going high and freezing chrome tab for a while..

[2019-11-26 21:07] jescalan commented on #25
Thanks for reporting! Yeah a minimal reproduction would be really great here

[2019-11-29 03:36] zephraph commented on #25
I've seen a similar behavior on both safari and firefox. It works for a bit and then locks up. Sometimes HMR just stops working altogether and I have to completely restart.

[2020-01-09 16:49] karlhorky opened #36 "Direction on CodeSandbox Embed Remark Plugin"
Hi there! First of all, thanks for this project! It seems like it adds some nice features to the default MDX plugin.

I'm currently trying to move to Next.js from Gatsby, and one thing that's holding me back is the excellent [elboman/gatsby-remark-embedded-codesandbox](https://github.com/elboman/gatsby-remark-embedded-codesandbox).

My use case is generating sandboxes on CodeSandbox using the cont

[2020-01-09 16:55] karlhorky commented on #36
I've also opened elboman/gatsby-remark-embedded-codesandbox#20, to explore how to create this plugin.

[2020-01-09 18:04] jescalan commented on #36
Hey @karlhorky - I would recommend writing this as a pure remark plugin, it should be fairly straightforward to implement. You can then pass the plugin in through [the `remarkPlugins` option](https://github.com/hashicorp/next-mdx-enhanced#usage--options). At my company we use several custom remark plugins this same way in production and it's working quite nicely.

[2020-01-09 18:04] jescalan commented on #36
I'm going to close this issue as it's more of a discussion about direction on a separate project than an issue, but please don't take that as a bad thing, and I welcome continued discussion in this thread as well!

[2020-01-09 18:04] #36 closed

[2020-03-14 12:21] peduarte commented on #18
There's a Next.js RFC for better plugins https://github.com/zeit/next.js/issues/9133

Thought I'd drop it here as maybe it'll impact this issue.

[2020-03-17 09:22] JerryGreen opened #42 "Element type is invalid"
I'm trying to make a simplest layout, to get this thing working. I have the following error:

## Screenshot

<img width="1024" alt="Screenshot 2020-03-17 at 13 58 15" src="https://user-images.githubusercontent.com/13215662/76839478-5d00d300-6857-11ea-82d7-40ebfb4f898d.png">

## My Code

Config:

[code]

Layout:

[code]

[2020-03-17 09:32] JerryGreen commented on #42
Huh! Just found an example of a simples layout in the README (was a little bit blind 😛):

[code]

But then it turns out it's a little bit weird, because this layout isn't very compatible with regular pages, as mentioned here: https://github.com/hashicorp/next-mdx-enhanced/issues/16

[2020-03-17 09:32] #42 closed

[2020-03-17 09:54] JerryGreen opened #43 "Revalidate cache"
Currently, the content of `mdx` files isn't hot reloaded, and you have to restart dev server to apply changes, - it would be more convenient to use if cache was revalidated (maybe updated_at and/or filesize check?)

Though, btw, the tool is just great anyway!

[2020-03-22 21:34] leerob opened #45 "Next build fails with empty .mdx-data folder"
Hey! Love the project. Trying to convert my MDX blog over to this. Hit a snag while trying to deploy. I'm seeing this error when I run `next build`.

[code]

If I then immediately retry the build, it works as expected. Any idea what this could be? It seems like if the `.mdx-data` folder does not exist at all (which is what happens when I try to deploy) then it errors out.

I can try and get a repr

[2020-03-22 21:40] leerob commented on #45
Reproducible example -> https://github.com/leerob/leerob.io/pull/159

[2020-03-23 01:25] leerob commented on #45
_Hours later_ 😅

After bringing that down to the absolute minimum working example, which I had originally started with, I started to piece it back together. By the process of elimination of deleting code and modules, I found the smoking gun to be Firebase.

I think by adding that dependency it's bumping some Babel things, which is breaking this.

[2020-03-23 02:08] leerob commented on #45
Absolute bare minimum reproducible example. First commit is in a working state, second commit the build fails after adding firebase as a dependency.

https://github.com/leerob/mdx-enhanced-issue-repro

[2020-03-23 02:13] leerob commented on #45
This seems related -> https://github.com/zeit/next.js/issues/296

[2020-03-24 21:58] leerob commented on #45
@jescalan @joe-bell Sorry for the rambling of messages here. Any chance you could provide me with any additional info to debug or any ideas you might have? 🙏

[2020-03-25 01:27] murillo94 commented on #45
same problem here, I'm not deal with it how to fix.

[2020-03-25 16:17] joe-bell commented on #45
@leerob hey Lee! I'm not actually a maintainer but I've just hit a similar issue to you. My solution was a quick flush of the build directories:

[code]

[2020-03-25 21:25] leerob commented on #45
This isn't the greatest workaround, but it works. I just run the build script twice 🤷‍♂

[code]

[2020-03-29 17:20] pkrawc opened #46 "TypeError: Cannot read property 'indexOf' of undefined"
- version: 2.4.0
- os: MacOS 10.15.3

## Expected

When I install `next-mdx-enhanced` and use the default config in the docs I should be able to spin up a working frontmatter enabled page.

## Actual
When I run `next` I get an immediate error: `TypeError: Cannot read property 'indexOf' of undefined`

[2020-03-29 17:24] #46 closed

[2020-03-29 17:25] pkrawc commented on #46
I am an idiot, it clearly says to call the enhanced config as a function with the rest of your config...

[2020-03-31 17:40] peduarte commented on #43
Yep, I [raised this to Jeff](https://twitter.com/peduarte/status/1238463988146503681) on Twitter a few weeks ago

His reply:

I haven't actually gotten round to doing that yet though, but probably should because I'm getting tired of this manual work 😂

[2020-04-02 12:42] JensMeindertsma opened #48 "Module not found: Can't resolve when using babel-plugin-import-glob-array"
I've been trying to get this plugin to work together with `babel-plugin-import-glob-array` for a few days now, and it's been nothing but constant frustration. Everything about the plugin worked great, until I wanted to use the Babel plugin. When I try to import all my MDX files with
`import { frontMatter as blogPosts } from "./blog/*.mdx";` it fails with the following error:
[code]
I've checked th

[2020-04-02 13:07] JensMeindertsma commented on #48
This was a tricky one! I've finally figured it out after creating a completely new project and starting from scratch with all the setup steps! It has to do with the Next.js external Babel config file. On the Babel website, it states this file can be called `.babelrc.json`. I was using this file. Next.js does not recognize any Babel config file not called `.babelrc`. The .json extension is not allo

[2020-04-02 13:07] #48 closed

[2020-04-13 16:30] NateRadebaugh commented on #45
I'm also hitting this, causing my "zeit now" deployments to fail.

[code]

I'd hate double my build-time to work around this bug, but I guess it's better than broken deployments...

[2020-04-22 23:03] jescalan commented on #45
Hi! I'm so sorry I was behind on notifications and just seeing this message. The error messages I am seeing above, I do not think are happening because the `.mdx-data` folder isn't present, I would suspect they are based on something different.

Thanks so much for providing that repro though, this is a life saver. I'm going to take a look and get back to you all here. Sorry again for the late resp

[2020-04-22 23:05] jescalan commented on #43
Yeah I'm sorry - this is a dupe of [this issue](https://github.com/hashicorp/next-mdx-enhanced/issues/17) so I'm going to close, but discussion is welcome there.

If it makes any difference at all, we are currently working on a spiritual successor to this library that I think will make life a lot nicer in many ways. Will have an update on this before the end of the week, which I will certainly put

[2020-04-22 23:05] #43 closed

[2020-04-22 23:19] jescalan commented on #45
Confirmed there's an issue here, working on tracking it down. It may have been some changes to webpack? When I run this, the file that it says is not present does seem to be present, and all the file writes are set to happen before any nextjs processing begins, so I'm confused by how this is possible.

[2020-04-22 23:19] leerob commented on #45
@jescalan No worries at all, thrilled you're willing to take a look. I appreciate all the hard work that went into this library. It's been a lifesaver for me!

[2020-04-22 23:20] leerob commented on #45
That was my hunch as well. Very strange. I tried to look at the `yarn.lock` differences after updating Firebase, but nothing stood out to me.

[2020-04-22 23:41] jescalan commented on #45
Ok @leerob I think I have tracked down the issue here, it was pretty nasty.

The root problem is that the layout file was not returning the right thing. Layouts need to return a function, the way it shows in the readme for this repo and for mdx itself. This is not at all intuitive and I can't blame you for missing this though, so I do think I should probably make sure this library looks for the ex

[2020-04-22 23:46] jescalan commented on #25
I still haven't been able to produce this in any of my team's projects. If someone is able to provide a minimal reproduction I'd be happy to look into this.

[2020-04-23 01:00] leerob commented on #45
I'm still seeing the issue after switching the layout to this:

[code]

1. On my example repro, I deleted `node_modules`, `.next`, and `.mdx-data`
2. Ran `yarn` and `yarn build`
3. Same issue

Are you not seeing that?

[2020-04-23 03:20] JerryGreen opened #49 "Reuse frontMatter inside md itself"
I wonder if it's possible to use frontMatter values inside the markdown itself, like in the example here:

1. https://github.com/jonschlinkert/gray-matter#optionsdelimiters<br/><img width="241" alt="Screenshot 2020-04-23 at 08 14 32" src="https://user-images.githubusercontent.com/13215662/80055162-796ceb00-853a-11ea-8f5c-81f7e97141a3.png"><br/>P.S. it has some custom delimeter, but the interesting

[2020-04-23 03:55] jescalan commented on #45
Hmm, I changed a few other things as well and dropped a bunch of unused dependencies in the debugging process, this was the step that ultimately did it. Let me clone a fresh copy and try again

[2020-04-23 03:59] jescalan commented on #49
Not that I'm aware of out of the box - I have never really seen a use case for this. If you have one I would definitely welcome a contribution though. Ultimately it should be possible - the loader is simply taking in a source string and [putting out a modified source string](https://github.com/hashicorp/next-mdx-enhanced/blob/master/loader.js#L127). The frontmatter could be added in as variables,

[2020-04-23 07:36] peduarte commented on #43
@jescalan oh Im really curious now!

[2020-04-23 07:58] peduarte commented on #17
@ole-treichel thanks for this!

I tried it out but couldn't get it to work.

[code]

I also tried:
[code]

My folder structure is:
[code]

I also tried replacing `path.join(config.context, 'pages')` with `path.join(config.context, 'pages/blog')`

[2020-04-23 20:28] jescalan commented on #45
@leerob it was indeed some of my dependency changes, pretty crazy. I'm not sure which dependency it was that was causing the interference, but stripping out unneeded dependencies is giving me a clean build, where with the dependencies you originally had listed, I was seeing the error.

I made [a PR to your reproduction repo](https://github.com/leerob/mdx-enhanced-issue-repro/pull/2) with my change

[2020-05-03 10:46] EarthlingDavey opened #50 "Using mdx string?"
Hi, can I still use this package if I am making an api call and it returns the mdx as a string?

Is there a function in the package that I can use with this string?

For reference of what I'm trying to achieve, there is a rough equivalent for Gatsby here: https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/#make-a-template-for-your-posts

Thanks :)

[2020-05-04 21:47] jescalan commented on #50
Oh hello, it's quite convenient that you'd ask this question, because I just finished writing a library that allows exactly this!

https://github.com/hashicorp/next-mdx-remote

Let me know what you think 💖

[2020-05-04 21:47] #50 closed

[2020-05-04 21:48] jescalan commented on #45
Hey hey, going to close this one out as I haven't heard anything back. Let me know if there's anything that still needs to be addressed here and I'd be happy to re-open!

[2020-05-04 21:48] #45 closed

[2020-05-05 06:29] QuanTumli commented on #45
Hi @jescalan I can confirm the same issue as @leerob.

See my repo for reproduction: https://github.com/QuanTumli/mdx-enhanced-issue

[code]

(Project was initialized with `yarn create next-app`, then I added the minimal example of `next-mdx-enhanced`)

Steps to reproduce the error:

1. Clone my repo (or create minimal app with `yarn create next-app` and add `next-mdx-enhanced` example)
2. Run `ya

[2020-05-05 10:14] EarthlingDavey commented on #50
Awesome timing!

 I'll take next-mdx-remote for a spin now. I wrote this for myself yesterday.

[code]

I'm fairly new to this, I'm also cautious about security because the mdx string will be user generated content.

Do you have time to make a quick comparison, and comment on security of next-mdx-remote?

[2020-05-05 13:53] leerob commented on #45
Sorry for my slow response!

While your PR _did_ have a fix, as soon as I added back the dependencies, I saw the same error as before. Going back to my initial message, that was why I pinned down updating Firebase specifically that seemed to mess it up.

[2020-05-05 15:36] kylemac commented on #50
@EarthlingDavey using something `next-mdx-remote` will allow you to avoid having to ship the very large MDX runtime to your client-side bundles.

https://mdxjs.com/advanced/runtime

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/49507/81085008-9bfced80-8ec4-11ea-9097-3f4a75f4f1fd.png">

[2020-05-05 17:29] EarthlingDavey commented on #50
Ok, I understand some more now thanks. It sounds like I should be using next-mdx-remote then ;)

I've had a play around, unfortunately I hit a snag. ( https://github.com/hashicorp/next-mdx-remote/issues/2 )

I also have a couple of more questions but I've created them in an issue here: ( https://github.com/hashicorp/next-mdx-remote/issues/3 )

Thanks folks ✌️

[2020-05-06 13:26] jensmeindertsma opened #51 "Add support for `src` directory"
Currently, when using a folder structure where `pages` is placed inside the `src` folder, this plugin fails to get the correct relative path and instead uses the entire path for `__resourcePath`. Since this file structure is a [feature supported by Next.js](https://nextjs.org/docs/advanced-features/src-directory), I believe support for this should be added.
**Example**
[code]

Is this related to `

[2020-05-06 20:22] jescalan commented on #51
I would welcome a PR to add this feature if you're up for it! The way I'd propose fixing this would be to add an optional `root` option that can be passed to the plugin. You can see where the root-stripping logic is here:

https://github.com/hashicorp/next-mdx-enhanced/blob/master/index.js#L73
https://github.com/hashicorp/next-mdx-enhanced/blob/master/index.js#L109

[2020-05-07 09:48] jensmeindertsma commented on #51
I'll have a look. Thanks for the help getting started!

[2020-05-07 10:09] jensmeindertsma commented on #51
#52

[2020-05-07 10:09] jensmeindertsma commented on #51
I've added a new prop `useSrc` that will add this to the path. How do I test if this works though?

[2020-05-12 12:20] jensmeindertsma opened #53 "Next.js 9.4 breaking error"
Hey 👋 @jescalan , I'm back with another problem that I encountered after upgrading to Next.js 9.4. I've managed to reproduce the issue [here](https://github.com/jensmeindertsma/issue-next-mdx-enhanced-2). This is really a basic setup, a `create-next-app` project where I've installed `next-mdx-enhanced` and `babel-plugin-import-glob-array`. This causes the following error:
[code]
After looking thro

[2020-05-12 12:39] jensmeindertsma commented on #53
I believe this has a very high priority. After cloning the repository and running the tests, I discovered there is a change in Next.js 9.4 that causes `next-mdx-enhanced` to fail: it can't find `webpack` anymore. When I downgrade to 9.3.6 it works fine. I believe the problem is due to the new **`ReactRefreshWebpackPlugin`**

[2020-05-12 18:12] peduarte commented on #53
Thanks for raising. Was just about to do the same.

[2020-05-12 18:16] jensmeindertsma commented on #53
I've got no idea how to solve this though ¯\_(ツ)_/¯

[2020-05-12 18:59] peduarte commented on #53
From Tim, [src](https://twitter.com/timneutkens/status/1260278581726449664):

[2020-05-12 21:15] jescalan commented on #53
Aware of this issue. I will get to it as soon as I am able. In the meantime, the right move is to hold off on upgrading to next.js `9.4.0`

[2020-05-14 08:31] jensmeindertsma commented on #51
Could you please merge the PR when you have time?

[2020-05-14 13:10] jensmeindertsma commented on #53
I've got it boiled down to this snippet in the Babel plugin:
[code]
This code does not affect the AST somehow.
Directly modifying the exisiting node with
[code]
does correctly modify the AST. I've tried replacing `_path.insertAfter` with `_path.replaceWith` but it had no effect either. Perhaps this can help you @jescalan with getting this fixed. Meanwhile, I'll continue investigating and I'll drop

[2020-05-15 01:08] estevanmaito opened #54 "Thank you"
Just would like to say thank you to everybody behind this project.

I was smashing my head trying to solve simple problems with the official lib (@next/mdx), and I couldn't believe that I would really need to parse files with `fs` just to get some metadata.

It took me hours to find it, and yet it's still saving me precious time.

Thank you and keep doing a great job!

❤

[2020-05-15 01:39] vixalien commented on #54
Haha, thank you too (both to @estevanmaito and @hashicorp)

[2020-05-15 03:01] jescalan commented on #54
Appreciate you @estevanmaito - notes like this are what make open source worth it for us! 💖

[2020-05-15 21:31] #53 closed

[2020-05-21 17:51] jordyvandomselaar opened #56 "Rehype plugin not doing anything?"
First of all, thanks for this great plugin, it solved a bunch of issues I had with next/mdx 😅️

I'm trying to use `rehype-autolink-headings` and nothing seems to be happening :(

**Next config**

[code]

I have this heading:

`## Intro`

And I still get a plain old h2 without the link added.

[2020-05-22 18:26] #56 closed

[2020-05-23 10:15] muco-rolle opened #57 "Import with glob pattern Error with Typescript"
First of all thank you for this helpful library,

I'm trying to import all blog posts with the glob pattern like this:
[code]

All my mdx files are located in src/pages/blog/...
It works fine, and I'm also recieving the contents but I have this error:

[code]

Which blocks the build.

I'm using:

**typescript: 3.9.3**
**next: 9.4.1**
**next-mdx-enhanced: 3.0.0**

And  next.config.js file:

[code]

[2020-05-25 08:17] drewes opened #58 "Index file in subdirectory"
Thanks for an awesome library.

All the examples show the index file in the root of the `pages` directory.

I'm trying to set up a nested content library with subfolders in the docs. When I create a post index in a subdirectory, the `pages.__resourcePath` property returns the relative path from the root `pages` directory, and not relative to the index file location.

I'm a noob at this, and am jus

[2020-05-27 03:44] themaxdavitt opened #59 "__resourcePath not correct on Windows"
`__resourcePath` is not correct on Windows. It yields values like `":\\Users\\themaxdavitt\\Documents\\example.mdx"`, which are not valid relative paths and break the ["create an index page" example in the README](https://github.com/hashicorp/next-mdx-enhanced/blob/effa78a49243e527192868742042aa0e8f14e7b9/README.md#create-an-index-page).

It's defined here:

https://github.com/hashicorp/next-mdx-e

[2020-05-28 07:32] franky47 commented on #45
I'm hitting the same issue ([see CI build](https://github.com/franky47/francoisbest.com/runs/715833205#step:7:28)), something interesting is that the "missing" JSON file does exist in `.mdx-data` at the moment the error is thrown.

The issue seems to come from the front matter import feature:
- `import { frontMatter as blogPosts } from './**/*.mdx` => build fails
- `import { frontMatter } from './

[2020-05-28 08:23] evanfrawley commented on #45
Confirming this as well -- clean build locally & on `vercel` fail with either import style of `frontMatter` and passes without. Same errors occur as above

[2020-05-28 08:46] franky47 commented on #45
Pinning `next-mdx-enhanced` to `3.0.0` solves it for me too, thanks @evanfrawley !

[2020-05-28 23:46] callil opened #60 "Unable to run with config from README"
Took a while to figure out what `(/* your normal nextjs config */)` meant in the README. Might be good to offer a more standard complete config since the next mdx sample and standard next app scaffold don't really teach you anything.

Ended up here:
[code]

[2020-05-28 23:46] #60 closed

[2020-06-01 09:19] gandalfar commented on #45
I'm seeing the same issue as @franky47 . I can get local version building correctly after removing local cached folders, but rebuilding from clear cache on Netlify still produces clean build error.

[2020-06-01 09:29] franky47 commented on #45
I also get a race-condition kind of error, which does not happen all the time, and could be related to this issue:
[code]

Looks like the JSON file is being written while Next.js/Webpack is trying to load it. This happens on non-clean builds, and it takes up to 4 or 5 retries to get the build to pass sometimes.

[2020-06-05 19:49] talentlessguy opened #61 "Vercel error (Can't resolve '/vercel/.../.mdx-data/...json' ) when defaultLayout is TSX file"
When I try to deploy my site on Vercel - I get an `Can't resolve .mdx-data/...json` error.

It doesn't happen locally with `pnpm` (I use it) - everything builds fine in both `prod` and `dev` environments.

I contacted the Vercel support. Support staff tried to build the project locally with `npm` and got this in output:

[code]

So it crashes when dependencies are installed and the project is buil

[2020-06-05 20:12] talentlessguy commented on #57
You should put a module definition in your site folder root with this:

[code]

reference: https://github.com/jescalan/babel-plugin-import-glob-array/issues/7#issuecomment-626936433

[2020-06-05 20:21] talentlessguy commented on #61
Related: https://github.com/hashicorp/next-mdx-enhanced/issues/45

[2020-06-05 20:26] talentlessguy commented on #45
Getting the similar to @franky47's error:

[code]

I tried these hacks:

* `next build; next build` in `build` script - doesn't work
* `3.0.0` version - doesn't work either

[2020-06-06 11:33] talentlessguy commented on #61
I found out why it happens. My `defaultLayout` was tsx extension

[2020-06-06 11:47] talentlessguy commented on #61
seems not to be the reason of the problem.

still getting this even when both layout and next.js page is js:
[code]

[2020-06-07 00:54] SiTaggart commented on #61
Same error, but I get it locally on my machine too when doing `next build`.

[2020-06-07 09:01] stephanschubert commented on #59
Same on OSX here

[2020-06-07 15:30] themaxdavitt commented on #59
@stephanschubert If you don’t mind (and even if it’s similar to mine), could you post an example value you received to make it easier for the maintainers to fix?

[2020-06-08 11:09] talentlessguy commented on #61
I tried to make a [reproduction repository](https://github.com/talentlessguy/next-mdx-enhanced-repro) - it builds...

I contacted the author of `next-mdx-enhanced`, the reason why it happens is that is something messed up in layout file.

and I noticed that imported `*.mdx` which triggers the babel plugin, so this was the root of the issue.

closing it now

[2020-06-08 11:09] #61 closed

[2020-06-08 11:10] talentlessguy commented on #61
@SiTaggart try checking your `layouts/index.tsx` file - probably something works wrong there

[2020-06-22 12:49] daneden commented on #61
@talentlessguy did you end up fixing this in Vercel/prod too? I’m running into the same issue and am 100% certain my layout files don’t have TS errors (based on the fact that they compiled just fine before using the `import-glob-array` Babel plugin).

It looks like I can get around this as others have by running `next build` twice, but that’s literally doubling the work of the build step.

[2020-06-22 13:05] daneden commented on #45
FWIW I’m experiencing this issue as well on [my site’s repo](https://github.com/daneden/daneden.me). I hated the idea of always running the build step twice so changed the build step to `next build || next build` which will only run `build` a second time if the first one fails (i.e. if the build cache _isn’t_ carried over from previous builds).

[2020-06-22 18:16] SiTaggart commented on #61
Same here. Doesn’t seem to be a problem with the layout as it compiles with TS just fine, and also builds just fine (after you’ve run build twice to generate the mdx data correctly.)

Pretty inconsistent locally. Sometimes it builds just fine, other times needs two builds.

Pretty frustrating

[2020-06-23 00:30] talentlessguy commented on #61
@daneden This `Can't resolve mdx-data...json` can have different causes.

Yes, I got it working on prod, it builds on Vercel just fine

[2020-06-23 17:22] geraldoramos commented on #56
@jordyvandomselaar Did you manage to fix this? Having the same issue...

[2020-06-25 14:43] geraldoramos opened #62 "Rehype plugin not loading"
I'm trying to install the  `rehype-autolink-headings` rehype plugin but nothing happens, it looks like the plugin is not being triggered.

Here is my next config:

[code]

Am I missing anything? Is this a bug?

Thanks,

Geraldo

[2020-06-30 20:11] hipstersmoothie opened #63 "Localization"
Hey! Love the library. I use it heavily in https://github.com/hipstersmoothie/next-ignite

Is there any way to localize the MDX files? For example I would like to add a spanish translation to my docs

[2020-07-05 16:44] estevanmaito commented on #62
Same problem and config, except I'm not using `next-images`.

[2020-07-05 22:03] estevanmaito commented on #62
I figured it out.

`rehype-slug` is required for `rehype-autolink-headings` to work. It's not documented.

Install and add it to `rehypePlugins`:

[code]

[code]

[2020-07-06 18:21] jescalan commented on #57
Thanks for the response @talentlessguy ! This is the correct answer - closing this issue

[2020-07-06 18:21] #57 closed

[2020-07-06 18:22] jescalan commented on #58
This is indeed the expected behavior!

[2020-07-06 18:22] #58 closed

[2020-07-06 18:23] jescalan commented on #59
Could someone put up a minimal reproduction here so I can test? I have tests running to validate that this works on both osx and windows and they are passing, just want to make sure I am able to reproduce correctly.

[2020-07-06 18:24] #62 closed

[2020-07-06 18:26] jescalan commented on #63
I'm not sure - this is out of scope for this library to be honest. I think it would be a really cool feature though!

[2020-07-06 18:26] #63 closed

[2020-07-11 21:53] themaxdavitt commented on #59
Sorry about the delay - unfortunately I didn't end up keeping the original code/environment I had that reproduced this. If I get some free time I'll try and set something up.

[2020-07-13 11:01] harrisjose opened #65 "Using content to extend front-matter?"
Thank you for making next-mdx-enhanced ❤️

How would you recommend using the `mdxContent` that a process() receives in `extendFrontMatter`? Wouldn't it be better if the content part from grey-matter was passed into extendFrontMatter instead?

Right now I'm parsing it again using grey-matter but this is already being done internally so I figured we might as well re-use that. Also, do I convert it t

[2020-07-14 01:31] jescalan commented on #65
Hey I think you should be able to use `scans` for this, it behaves the way you expect: https://github.com/hashicorp/next-mdx-enhanced#scanning-mdx-content

You'd just scan for a certain number of characters or lines, then retrieve this off the `__scans` property on the frontmatter

[2020-07-14 22:36] jescalan commented on #65
Related, if you plan to use snippets, I recommend making a `snippet` frontmatter property on its own. Cutting out a short portion of existing content is initially a tempting way to save work and duplication, but it ends up being a fussy and complex process if you want it to actually work well.

First you generally want to make sure you aren't cutting off any words, so you will want to split by spa

[2020-07-16 04:58] harrisjose commented on #65
Thanks for taking the time out to explain this in detail. I was trying to get this working for my blog so that I could eventually start using it for larger sites. But I did run into the same issues you mention here.

I didn't add a frontmatter property right away because that would mean changing all the existing markdown files (that's a real pain for the large-ish sites at work) and also, it would

[2020-07-16 15:52] #65 closed

[2020-07-16 17:51] jescalan commented on #65
Of course, you're very welcome! I'd be happy to work with anyone on adding excerpt logic into this library, I think it's a feature that makes sense. But it is a lot of work and I don't personally have a need for it right now, so I'm not the best choice to _lead_ that effort 😀

[2020-07-22 06:09] joshclow commented on #65
Popping in here to say that I'm also playing with this, but rather than modifying next-mdx-enhanced (which doesn't seem to be that helpful since it doesn't itself parse the MDX, so there's no existing AST to hook off of) I'm hooking through `extendFrontMatter`, parsing the content with remark, and then running that AST through copies of the functions that Gatsby uses for this (which filter on text

[2020-07-22 07:44] joshclow opened #67 "Webpack Plugin is not restricted to pages"
frontmatter extraction is run over all files that match the `fileExtensions` option. That means it runs over every `mdx` file in every package in `node_modules`. Adding `md` as a supported extension then means the extraction is run over every README.md as well.
This increases compile time by itself, but also means that extending frontmatter can have a dramatic impact on compile time or stability s

[2020-07-22 14:29] harrisjose commented on #65
That would be super helpful @joshclow.

[2020-07-23 06:51] joshclow commented on #65
Here's a gist with my current experiment: https://gist.github.com/joshclow/2609a82355e4a452ca5812794547688d

To use it, you'd pass the `processFrontMatter` in as the value of `extendFrontMatter` in the options for `withMdxEnhanced`

This is *only* the "plain text" excerpt to start with (because that's what I've been using on my Gatsby based blog so it's the easiest way for me to get an apples-to-a

[2020-07-23 16:25] #67 closed

[2020-07-23 16:40] jescalan commented on #25
Closing this due to inactivity

[2020-07-23 16:40] #25 closed

[2020-07-23 16:40] jescalan commented on #49
Closing due to inactivity - if there is some work happening I'd be happy to re-open!

[2020-07-23 16:40] #49 closed

[2020-08-09 13:12] stephanschubert opened #74 "Upcoming breaking change in next.js@9.5.2 ("disallow re-export all exports")"
Please see https://github.com/vercel/next.js/pull/14325 for details.

[2020-08-11 16:07] joe-bell commented on #74
Just hit this snag too, am I right in thinking it's this line? https://github.com/hashicorp/next-mdx-enhanced/blob/0ac00218efb0f0e637b7fde401b1a076cc58c5e1/loader.js#L135

[2020-08-11 17:17] jescalan commented on #74
That definitely could be it. I'm sorry I don't think I'll have time to dig in this week, but happy to support if someone else wants to take the lead here 🙏🏼

[2020-08-12 09:49] joe-bell commented on #74
I'd love to, but unfortunately I'm not familiar enough with how this is built to contribute 😢

I'm not entirely sure what we want to export from this file

[2020-08-13 12:55] NateRadebaugh commented on #74
[code]

https://err.sh/next.js/export-all-in-page

From the link:
#### Possible Ways to Fix It

Update your page to re-export the default component only:

[code]

If the other page uses `getServerSideProps` or `getStaticProps`, you can re-export those individually too:

[code]

[2020-08-13 17:29] jescalan commented on #74
I'm honestly not entirely sure how we are going to resolve this one. The reason we use `export *` here is to allow layouts to export `getStaticProps` and/or `getServerProps` if they need to. But since this is a plugin and not an individual page as referenced in the error above, we aren't able to know for sure if a given layout does actually export either of those two, or not.

I'm curious to get @

[2020-08-13 17:38] zephraph commented on #74
Ah, yeah, that's unfortunate.

We have two options here:
1. Don't support `getStaticProps` or `getServerProps` from files with layouts.
2. Update the babel extension to check for `getStaticProps` or `getServerProps` in the layout file and change the export to explicitly export only the things we know exist.

The latter is likely the more correct option here, but I'm not sure what the overall perfo

[2020-08-13 17:52] jescalan commented on #74
Boo, that is what I was thinking as well, but hoping maybe a better option might come to mind. I'll look into updating the babel plugin here, since I don't want to introduce a regression if possible.

[2020-08-15 23:15] jemjam commented on #74
I think I might have a fix for this, have been messing around with `next-mdx-enhanced` this afternoon and got this working locally. (Might just take me a few to figure out the pr.)

[2020-08-16 02:58] jemjam commented on #74
tl;dr:

This afternoon I pushed up a PR (#75) that achieves 1 and is compatible with the latest version (9.5.2) of Next. Unfortunately I haven't figured out an answer to 2 yet... Open to feedback, improvements, etc. Let me know if this is helpful.

[2020-08-16 14:54] TLadd commented on #74
Perhaps a simple solution could be adding an option to the plugin that allows passing in which layouts need to export `getStaticProps` and/or `getServerProps`? Something like

[code]

Obviously being able to detect it automatically would be the ideal. But this could be done quickly and get the plugin working with latest version of next.js again.

[2020-08-20 23:01] samselikoff opened #76 "Possible to use MDXProvider / components customization?"
Hi there! Thanks for putting this great lib together ✨

I'm moving my personal site from Gatsby to Next and trying to bring along my MDX setup.

Over there it looks something like this:

[code]

where `components` is an object mapping tags like `h2` to React components, like this:

[code]

I was wondering if it this functionality was possible using `next-mdx-enhanced`? I don't have webpack experie

[2020-08-20 23:04] jescalan commented on #76
Yes, it is possible. This doesn't involve webpack at all and works exactly the same way - just use an `MDXProvider` and pass it the components you want to be available.

You might also benefit slightly more from using [`next-mdx-remote`](https://github.com/hashicorp/next-mdx-remote) which has a more natural data loading pattern, better performance, and gives you a very direct interface to the comp

[2020-08-20 23:04] #76 closed

[2020-08-20 23:12] samselikoff commented on #76
Thank you for the quick response!

Ah I see – the `content` that comes in through the layout can be wrapped in a Provider just like in my gatsby site. Perfect, seems to be working great!

And thanks for mentioning `next-mdx-remote`, looks like the spiritual successor to this project. Would you say there is no real reason to use `next-mdx-enhanced` on new projects, and we should just prefer `next-m

[2020-08-20 23:15] jescalan commented on #76
Pretty much, yes. `next-mdx-remote` is newer so I haven't yet posted a notice saying that this project is deprecated, but that is likely what is going to happen as it matures 😀

[2020-08-20 23:23] samselikoff commented on #76
Awesome- thanks again for the quick info + all your work!

[2020-08-24 17:50] jescalan commented on #74
I'm working on this and will have a patch out this week. Here's my current dilemma, feedback welcome.

The way to do this right would be to parse layout files using a babel plugin in order to detect whether they export either of the data fetching methods, and if they do, make sure to also export them out of the loader. I do have a local branch with this logic working. Unfortunately, this does mean

[2020-08-24 18:36] brianespinosa commented on #74
@jescalan I think there might be a couple blockers for some on moving to `next-mdx-remote`:

1. Setting up MDX files to work as routes in the `/pages` directory the same way as they do with `next-mdx-enhanced`
2. Limitation of not being able to import from an MDX file when using `next-mdx-remote`

For the first item, if the `next-mdx-remote` docs could got updated to show a suggested setup example

[2020-08-24 19:17] jescalan commented on #74
Yeah this is very fair feedback, I probably could be more clear in the docs about how to set it up the traditional way. It's definitely possible - the only real limitation is that you can't put the mdx files in `pages`, but you can just put them in another directory and they work the same, still being able to generate all the same routes as expected. And you can import from an mdx file this way, i

[2020-08-24 19:25] brianespinosa commented on #74
Yep, this is what I am doing when this is needed. I just created an `mdxPages` directory and use them there. I think if we had some sort of "recommended" setup for that in `next-mdx-remote` that would be a big help.

IMO, the pattern of defining all of the component imports needed in the `components` options is actually a better developer experience. And for people on my design engineering team wh

[2020-08-24 22:04] johnlindquist commented on #74
@brianespinosa I would love to see the config for supporting an `mdxPages` directory that generates routes 🙏

[2020-08-24 22:12] jescalan commented on #74
It would be super helpful if you all would open up issues in [next-mdx-remote](https://github.com/hashicorp/next-mdx-remote/issues) for these requests! 💖

[2020-08-24 22:51] brianespinosa commented on #74
Added: https://github.com/hashicorp/next-mdx-remote/issues/27

[2020-08-25 23:56] jescalan commented on #74
Ok, this issue is closed with tests in place and there will soon be a release out. Yay!

[2020-08-25 23:56] #74 closed

[2020-08-25 23:57] jescalan commented on #51
This has been merged and will be out shortly!

[2020-08-25 23:57] #51 closed

[2020-08-26 16:48] jescalan commented on #59
Closing due to inactivity - if we can get a repro going please feel free to reopen! In the meantime, all of this projects tests are running and passing on windows.

[2020-08-26 16:48] #59 closed

[2020-08-28 15:19] benedfit opened #82 "Enhancement: use `usesSrc` when determining `layoutPath`"
Thank you so much for adding the ability to have pages under `src/pages`. However, I also have my layouts under `src/layout`, so I'm currently configuring the plugin like so:

[code]

Would it possible to automatically assume that `layoutPath` equals `src/layouts` if the project is using `src/pages`?

[2020-08-28 15:34] jescalan commented on #82
Hmm, I'd love to get some feedback on this from those who use `src`, since I don't personally. I can see the argument for it making sense, but I can also see this being something that is surprising "magic" functionality, and we'd prefer to force users to be explicit with the path. Maybe @johnforte would have some thoughts here?

[2020-08-28 16:24] benedfit commented on #82
From my personal experience; when using Next.js and putting things under `src`, I end up putting everything under there e.g. https://github.com/newhighsco/website/tree/master/src

The Next.js docs seem to allude to the fact that this is likely what others do to: https://nextjs.org/docs/advanced-features/src-directory

Look forward to hearing what others say

[2020-08-28 16:51] crswll opened #83 "Using next/link for links inside markdown"
Is there a trick to getting `[about](/about)` to work without reloading as we navigate? I've done it before with a "wrapper" (https://mdxjs.com/guides/wrapper-customization) but not sure that's the preferred method with this plugin.

I imagine I'm missing something in the README that's obvious to someone wiser.

[2020-08-28 17:38] jescalan commented on #83
You'd have to override `a` as a custom element with an implementation of `next/link`, using an `MDXProvider`. Something like this inside your layout. I am blind coding here so it may not be perfect but hopefully you get the gist!

[code]

[2020-08-28 17:47] johnforte commented on #82
@jescalan my pull request makes it clear that I am on board with this change 😄 since nextjs makes the assumption that src will hold all source code like pages, I believe we can make that same assumption.

[2020-08-28 17:47] crswll commented on #83
It looks exactly like what I had before. I just wanted to make sure I wasn't overlooking anything. Thanks so much and I'll close this!

[2020-08-28 17:47] #83 closed

[2020-08-28 18:37] benedfit commented on #82
On a side note, I actually ran into issues setting './src/layout' for layoutPath, that don't occur when it's set to 'src/layout'. getStaticProps could be exported from my layouts when I used the dot-notation

[2020-08-28 19:28] jescalan commented on #82
Sounds reasonable to me - @benedfit would you be interested in submitting a PR for this change? 😀

[2020-08-28 19:50] jescalan commented on #82
Ah never mind, looks like @johnforte has got it covered! will get this out soon

[2020-08-28 21:12] benedfit opened #85 "layoutPath starting with `.` results in `getStaticProps` error"
The following config:

[code]

Results in the following error when trying to export `getStaticProps` from a layout:

[code]

Changing `layoutPath` to 'src/layouts` solved this issue for me, but wanted to warn anyone else who may fall into this issue

[2020-08-28 21:14] jescalan commented on #85
Could you check and see if #84 solves this issue?

[2020-08-28 21:21] benedfit commented on #85
It would, because I'd no longer need to set `layoutPath`, but I think the problem would still exist if someone else used dot-notation for `layoutPath`. I'll try and knock up a test case to check

[2020-08-28 21:25] jescalan commented on #85
Thank you, that would be super helpful!

[2020-08-29 08:50] steveruizok commented on #17
I wasn't able to get this working with `node_modules/.cache/babel-loader/`, but it did work with `.next/cache/next-babel-loader`.

For future readers using this library together with `babel-plugin-import-glob-array`, my `package.json` now includes:

[code]

[2020-08-29 11:03] benedfit commented on #85
So the dot-notation was a red herring, this issue seems to happen whenever I add a `getStaticProps` function to a layout.

Here is my project structure where I'm hitting the issue https://github.com/newhighsco/jarvenis.com/tree/feat/use-mdx. I'm currently refactoring to use MDX.

I followed the test fixtures at https://github.com/hashicorp/next-mdx-enhanced/tree/master/__tests__/fixtures/layout-ex

[2020-08-31 16:44] benedfit commented on #85
@jescalan got a working example anywhere I could reference?

[2020-08-31 16:50] jescalan commented on #85
https://github.com/hashicorp/next-mdx-enhanced/tree/master/__tests__/fixtures/layout-exports-ssg

[2020-08-31 16:52] jescalan commented on #85
I can look into this further this week, or you are welcome to open a PR and do so!

[2020-09-07 22:43] eddiewang opened #86 "using frontMatter data inside of the getStaticProps function"
Hi there!

Thanks for making such a useful tool to use MDX with next.js.

I'm trying to figure out a way to pull a frontmatter variable from a parsed .mdx file into the getStaticProps function, in so that I can use that variable to load some data on build-time.

Haven't figured out an easy way to do this, due to variable scoping issues. I was wondering if there may be something I missed.

[2020-09-07 23:21] jescalan commented on #86
He @eddiewang - you can do it with this library, but this is the type of task that [next-mdx-remote](https://github.com/hashicorp/next-mdx-remote) was built for specifically.

To do it with this library, you just need to import the mdx file's front matter, then use it within `getStaticProps`, as such:

[code]

[2020-09-11 16:25] eddiewang commented on #86
Thanks! mdx-remote did the job for me. Now to replace all the layouts with the new format :)

[2020-09-11 16:25] #86 closed

[2020-09-19 18:33] impulse commented on #82
I am using `src` and was confused why `usesSrc` doesn't behave like the suggested change above 👍

[2020-09-25 15:07] zeekrey commented on #61
I got the same issue. For me the problem disappears if a don't `import { frontMatter as testData } from './test.mdx'`. Looks like the current setup is not able to import mdx files. Can someone post a working next.config.js? This is mine (as mentioned in the readme):

[code]

Is it necessary to add:

[code]

[2020-09-25 17:30] jescalan commented on #61
I have been alerted to an issue with Vercel caching here, and have reproduced it in one place. There might be a fix coming down the line for this. For now I have consistently been able to resolve with a rebuild in Vercel.

[2020-10-23 19:15] DavidWells commented on #61
Getting the same issue.

[code]

This import was working but now doesn't ¯\_(ツ)_/¯

Fails with

[code]

This is odd because I haven't changed anything about the project.

Is there a way to purge the cache? I've `rm -rf .next` but the error remains. `next dev` and `next build` both fail consistently on my machine 😅

[2020-10-23 19:36] jescalan commented on #61
@DavidWells can you share a minimal reproduction?

[2020-10-23 19:43] DavidWells commented on #61
I've switched to using `globby` + `getStaticProps` vs the babel plugin for the time being.

[code]

[2020-10-27 18:47] NateRadebaugh opened #89 "React 17 error, "pragma and pragmaFrag cannot be set when runtime is automatic.""
When I navigate to the MDX pages, I get this error:

Seeing on the latest version of `react@17` and `next@10`

[2020-10-28 14:10] jose-donato commented on #89
I'm also getting the same error with the new react and next versions

[2020-10-28 18:58] jescalan commented on #89
Seems like the new major versions have broken this plugin. I'll look into a resolution this week.

[2020-10-28 23:05] jescalan commented on #61
This should be resolved by the latest release!

[2020-10-28 23:05] jescalan commented on #45
This should be resolved by the latest release!

[2020-10-28 23:10] franky47 commented on #45
Hey, sorry I didn't report it back sooner, but yes the issue has been solved for a few weeks in my case. Thanks !

[2020-10-29 02:55] dvargas92495 commented on #61
Just upgraded to 5.0, still seeing this issue. deleted `.mdx-data`, cleaned `.next` and restarted. the `mdx-data` folder is in the new location but appears empty

[2020-10-29 02:57] dvargas92495 commented on #61
oh jk. I had another warning up to call stack that I thought was unrelated. But resolving that unblocked me

[2020-10-29 12:29] NateRadebaugh commented on #89
The latest versions of `react@17` and `next@10` and `next-mdx-enhanced@5` are working for me now, thanks!!

[2020-10-29 12:29] #89 closed

[2020-10-30 00:14] ivannovazzi commented on #45
Interesting enough, version 5.0.0 does not fix the issue for me 😔
### Notes
I have to be clear on a number of things though:
- versions 3.0.0, 4.0.0, 5.0.0 all cause the same issue
- I am experiencing the problem not only with the build but also during dev mode - given I am experiencing this locally so I didn't even try on CI
- I have been trying with multiple next@9.5.6 canary versions, haven't t

[2020-10-30 01:15] jescalan commented on #45
@ivannovazzi - the 5.0 release does not use `.mdx-data` at all, it can be removed as noted in the release notes

If you can make me a minimal reproduction of the issue here I would be happy to look!

[2020-10-30 12:08] ivannovazzi commented on #45
@jescalan well, the folder is moved under .next/cache and the same exact behaviour is observed. I will put together a minimal reproducible scenario asap.

[2020-10-30 18:39] jescalan commented on #45
Thanks so much @ivannovazzi - looking forward to it!

[2020-10-31 22:23] geekysrm opened #92 "How to convert img tags from MDX to use Next.js Image Component"
Hi,
Love this package.

[Next.js' Image component](https://nextjs.org/docs/basic-features/image-optimization) got released and I am trying to use it in my blog posts written as MDX files. I am using this package.

How do I change all the 'img' tags (in the markup generated from MDX) to 'Next.js's <Image />' tag?

[2020-11-02 16:38] jescalan commented on #92
Add a mdx provider wrapping your pages and pass it as an image override!

https://mdxjs.com/getting-started/#mdxprovider

[2020-11-02 16:38] #92 closed

[2020-11-02 18:43] geekysrm commented on #92
Thanks! That did the trick!

[2020-11-03 15:36] ivannovazzi commented on #45
My apologies @jescalan , the plugin is behaving perfectly and congrats for building this!

In case someone else runs into this exact issue, the import shown above was causing troubles because of the missing babel plugin `babel-plugin-import-glob-array`; I didn't have it installed and didn't have a .babelrc either.

I should have smelled something was wrong on my end since I had noticed the `**/*.m

[2020-11-03 21:42] edmundojr opened #93 "Is there anyway to render index.mdx as / instead of /index?"
First thanks for this awesome library, it checks all the boxes for creating documentation using Next.js and MDX.

I was wondering if there's anyway to render my `pages/blog/index.mdx` as `/blog` instead of `/blog/index`? I don't have the slight idea of where to look to change this.

Any help appreciated!

[2020-11-03 21:47] edmundojr commented on #93
Sorry, I meant to open this issue on `next-mdx-remote`, not here.

[2020-11-03 21:47] #93 closed

[2020-11-05 00:25] jescalan commented on #45
Thats great to hear - so glad you figured it out!

[2020-11-16 15:19] GenisDiaz commented on #89
Hello! I've updated the versions, even the next-mdx-enhanced, and for me, it still breaks. :( any idea?

[2020-11-18 17:07] jescalan commented on #89
@GenisDiaz if you can provide a minimal reproduction of your issue I'd be happy to take a look!

[2020-12-03 01:34] kevinwolfcr opened #94 "reExportDataFetching does not work with TypeScript"
When I try to use any TypeScript feature (like declaring types) in my layout file, I am getting a Syntax error:

[code]

[2021-01-18 16:24] #94 closed

[2021-05-24 17:19] kamal-choudhary commented on #61
I was also facing the same error. Whenever I added the line "./blog.posts/*.mdx", I was getting error like "Can't resolve '/site/.next/cache/mdx-data/5dda69dc891556dd9f63950c580a2748.json' in '/site/Components/context/data'.

How I was able to fix it?

I was missing the babel plugin "babel-plugin-import-glob-array":.

I added this line of code:

"babel-plugin-import-glob-array": "^0.2.0"

under de

[2021-06-10 13:38] benwinding commented on #18
This is important and should at least be added to the README then...

[2021-06-10 23:29] benwinding commented on #18
@jescalan I see your point and agree that it is a slippery slope on how detailed to document and you shouldn't have to support everything.

However, this is a _highly common_ use-case (as shown by the activity on this issue). It also took me longer than I'd like to admit to figure it out as it was difficult to debug what was wrong. I think there's 2 options that would help future users:

- Add a s

[2021-06-11 00:10] jescalan commented on #18
There's one thumbs up on the issue, and it was from you. We haven't seen a comment on this issue before the one you made just now in nearly two years. Unfortunately, this is not a highly common use case, in fact the activity on this issue tells me that  it's a very _rare_ use case.

As I mentioned in the last comment, I'm not open to adding information about this to the readme. If you can come up

[2021-06-11 00:14] jescalan opened #103 "This library is unmaintained"
Hi friends. I regret to inform you all that this library is no longer actively maintained. We have moved on to using [`next-mdx-remote`](https://github.com/hashicorp/next-mdx-remote), which is much faster, fits more use cases, and is more configurable.

If anyone would like to volunteer to step up and maintain this library, please respond here. Otherwise, use this at your own risk. It is specifica

[2021-06-11 01:34] benwinding commented on #18
Well, I was referring to the solution posted https://github.com/hashicorp/next-mdx-enhanced/issues/18#issuecomment-520144464 , which has 6 likes, but anyway it doesn't matter.

I understand your point of view, as everything you add is another thing to maintain, and it's not this project's responsibility. I guess I would prefer to make the consumer's life a tiny bit easier, but everything's a trade

[2021-06-11 01:37] jescalan commented on #18
mdx-remote is not a drop-in enhancement, its a significant migration. there is an official nextjs example implementation though, if it helps!

https://github.com/vercel/next.js/tree/canary/examples/with-mdx-remote

[2021-06-20 18:54] Luttik commented on #103
Hi @jescalan,

Would it be possible to document a migration path from this library to next-mdx-remote?  I know that this package has often been referenced in the context of writing blogs, so it didn't draw the deepest of nextjs experts...

[2021-06-20 21:29] jescalan commented on #103
[The readme for `next-mdx-remote`](https://github.com/hashicorp/next-mdx-remote#installation) should provide all the info you need. It even has a section about blogs and links to an official nextjs example implementation. There is not really a single "migration path" exactly - the libraries are dramatically different, and the way that the data flows through your app will need to be restructured.

[2021-06-22 12:30] Luttik commented on #103
The facts that data flows need to be restructured and that there is no "single" path are the very reasons why I believe a migration document would be so valuable. It would provide next-js laymen with an opinionated method to hopefully end up with a supported situation that is just as easy as this library was. If you ask me the `next-mdx-remote` docs are so much more complex than the docs of this l

[2021-06-22 12:36] Luttik commented on #103
If you'd be willing we could work on this together and publish it in the readme of both repos. I could ask the dumb questions that I think many people have and we could fill them in together to at least get a document that give people mental models of what belongs where when moving.

[2021-06-22 13:23] jescalan commented on #103
@Luttik sure happy to answer any questions you have through the process - thanks for volunteering to help with this!

[2021-06-22 14:32] Luttik commented on #103
I have opened the draft pull request https://github.com/hashicorp/next-mdx-enhanced/pull/104 to discuss this topic.

[2021-06-24 05:05] thunder-coding commented on #103
I faced webpack errors as mentioned above. And currently there is no workaround except disabling webpack 5. But the only thing that makes me from migrating to `next-mdx-remote` is the lack of `import/export`

[2021-06-24 15:23] jescalan commented on #103
@thunder-coding This sounds like it's expected based on the initial comment in the issue. I'm sorry that you are having this problem though. Contributions are welcome to either library!

[2021-06-24 15:43] Luttik commented on #103
@thunder-coding could you clarify what you are missing in terms of  `import/export` ( I guess your not talking about the js feature...). Maybe that is something that we need to clarify in the migration document too.

[2021-06-24 15:56] thunder-coding commented on #103
I will be migrating to https://github.com/kentcdodds/mdx-bundler . This seems to be a perfect replacement for my use case.

And about the things that I am missing without `next-mdx-enhanced`:
- Common layout for all MDX Pages
- `import`ing `.tsx` components

[2021-06-24 16:43] jescalan commented on #103
Just to clarify, creating shared layouts for pages is possible with `mdx-remote`, as is making components available for use  within pages. Both of these are demonstrated in the readme. What it does not currently support is using the `import` keyword within a given page to import a specific component to that page only. `mdx-bundler` does support this as long as you read the file's contents and pass

[2021-07-09 21:56] ericclemmons commented on #94
Why was this closed? I'm also running into this issue with `reExportDataFetching`.

[2021-07-09 22:30] ericclemmons commented on #103
I just wanted to say thanks for creating `next-mdx-enhanced`.

I was using `next-mdx-remote`, but ran into so many issues (mainly with "leaking" every page's components that the build become very slow) that I adopted `next-mdx-enhanced` for the common layout & frontmatter parsing.

I'll do some more research before adopting `mdx-bundler`, but I have to say that this project solved a real need that

[2021-07-09 22:54] jescalan commented on #103
@ericclemmons this might be helpful! https://github.com/vercel/next.js/tree/canary/examples/with-mdx-remote#conditional-custom-components

[2021-07-13 16:57] Luttik commented on #103
@ericclemmons That was/is something that really want too. It seems to fit in the theme at we saw with comparing `next-mdx-enhanced` with `next-mdx-remote` too, where technically `next-mdx-remote` seems to be able to do just about anything, but requiring more boilerplate code, more complexity, and a less nice API...

[2021-07-13 18:23] jescalan commented on #103
@Luttik -

I will tell you that there are a LOT of problems with the pattern that `mdx-enhanced` uses for loading markdown - builds are a huge amount slower than `mdx-remote`, bundle sizes are much larger, and it can only load local content. Eventually if your site keeps growing, the memory needs to be able to build the site will exceed several gigabytes because of the way webpack internally store

[2021-07-13 18:30] Luttik commented on #103
@jescalan I understand, sorry if I was too frank. I'm still exploring the options and try to communicate my thoughts fully in this thread. As I eluded to before Im one of those that don't have the time to follow the frontend trends deeply.

Since you stated that the patterns of mdx-enhanced were the issue (I guess that is instead of having the implementation being the issue) do you see the same is

[2021-07-13 18:43] jescalan commented on #103
@Luttik no, but `mdx-bundler`'s API and implementation are nearly identical to `mdx-remote`, so I'm not sure it will solve a lot of your concerns.

The main difference is that `mdx-bundler` produces much larger bundles for basic content, by my testing ~4x larger. The feature it offers that `mdx-remote` does not is support for `import` statements, but in order for these to work, you need to pass a

[2021-07-13 18:50] Luttik commented on #103
@jescalan I think that is really valuable info for those who are migrating! Thanks

[2021-07-25 22:15] incompletude opened #107 "I can't get it working with Next 11 and React 17 Typescript"
Any tips?

[2021-07-26 22:54] jescalan commented on #107
https://github.com/hashicorp/next-mdx-enhanced/issues/103

[2021-07-26 22:54] #107 closed

[2021-07-27 10:41] Luttik commented on #103
@jescalan I have some time again to work on the migration guide. I wonder why the [technique for heavy components](https://github.com/vercel/next.js/tree/canary/examples/with-mdx-remote#conditional-custom-components) is only suggested for heavy components. Is it a bad idea to use that approach for áll components (given no namespace issues)? Or is that totally fine?

[2021-07-27 17:18] jescalan commented on #103
Yes, that would be a bad idea - dynamically loaded components are not server rendered and cause slower page performance because of this. I would only resort to this approach if you are having performance or bundle size issues.

[2021-07-29 19:05] Luttik commented on #103
@jescalan Maybe the wrong place for this question (and maybe a dumb question altogether...). But wouldn't bundle-size and runtime performance be unaffected if you apply the trick within `getStaticProps`? Something like:

[code]

[2021-07-30 19:18] jescalan commented on #103
Give it a shot and find out! I think you will likely have issues with the dynamic import within `getStaticProps`, since dynamic imports are intended for [use on the client side](https://nextjs.org/docs/advanced-features/dynamic-import) but its worth a try!

[2021-07-31 20:18] arn4v commented on #103
This might be of interest to those migrating away from `next-mdx-enhanced`:

I've written a library called [next-mdx-builder](https://github.com/arn4v/next-mdx-builder) that is similar to `next-mdx-enhanced` in usage but uses `next-mdx-remote` underneath to build your MDX and supports Next.js 11 (which uses Webpack 5 by default).

[2021-09-04 05:29] samcodee opened #113 "Workarounds for trim ReDOS and Next JS Internal Server Errors"
**Note:- This is not exactly a bug. This library is not maintained. I have found some workarounds and created this for people who use this library and face issues like `npm audit` reporting vulnerabilities, Next JS 11 `Internal Server Error`. Depending on the time, this may or may not work. Use it at your own risk. It is advised to backup your project.**

## Workaround for `npm audit` ReDOS flag:-

[2022-01-14 15:15] YannickAWE commented on #113
This is so useful thank you so much @samcodee!
I'm now able to use this plugin on Next 11 with webpack5: false

[2022-04-06 08:17] tanvirpiash opened #119 "I am facing an issue while installing it to the nextjs v12."
`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: --------
npm ERR! Found: next@12.1.4
npm ERR! node_modules/next
npm ERR!   next@"12.1.4" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer next@"9.0.x - 10.0.x" from next-mdx-enhanced@5.0.0
npm ERR! node_modules/next-mdx-enhanced
npm ERR!   next-mdx-enhan

[2022-04-06 14:41] jescalan commented on #119
https://github.com/hashicorp/next-mdx-enhanced/issues/103

[2022-04-09 18:39] AlaeddineMessadi opened #120 "UnhandledPromiseRejectionWarning: TypeError: this.getOptions is not a function"
Hi everyone,

I want to migrate my blog from using Contentful to `next-mdx-enhanced`.
Right after installing the package, creating the layout and the first mdx page I get this error

[code]

I also have this configuration in `next.config.js`
[code]

Versions:

"next": "^10.0.8",
"next-compose-plugins": "^2.2.0",
"@mdx-js/loader": "^2.1.1",
"react": "^17.0.1",
"next-mdx-enhanced": "^5.0.0"

I tried

[2022-04-09 18:43] AlaeddineMessadi commented on #120
After I removed `@mdx-js/loader` from the project, now it works

[2022-04-09 18:44] #120 closed